/* 상단 배너 스타일 */
.header-banner {
    width: 100%;
    height: 60px;
    background-color: #8a1601; /* 상단 배너 배경색 */
    display: flex;
    align-items: center; /* 세로 정렬 */
    padding: 0 20px; /* 좌우 여백 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.logo-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

/* 로고 스타일 */
.logo-text {
    font-size: 1em;
    font-weight: bold;
    color: white; /* 글자 색상 */
    font-family: 'Arial', sans-serif; /* 글꼴 */
    cursor: default; /* 클릭할 수 없는 텍스트 */
}

.rank_link {
    margin-left: 30px;
    text-decoration: none;
    cursor: pointer; /* 클릭 가능하도록 마우스 포인터 변경 */
    color: white; /* 텍스트 색상 */
    font-size: 23px; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    text-align: center; /* 가운데 정렬 */
    display: inline-block; /* 크기 지정 가능 */
    transition: background-color 0.3s ease; /* 호버 시 부드럽게 색 변화 */
}

.rank_link:hover {
    background-color: #e2e2e2; /* 호버 시 배경색 변경 */
}

/* 추가 여백 조정 */
body {
    margin: 0; /* 페이지 기본 여백 제거 */
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* 이미지 컨테이너 스타일 */
.image-container {
    margin-bottom: 20px; /* 배너와 이미지 사이 간격 */
    text-align: center; /* 이미지 중앙 정렬 */
}

/* 이미지 스타일 */
.banner-image {
    max-width: 100%; /* 화면 크기에 맞게 조정 */
    height: auto; /* 비율 유지 */
    /* border-radius: 8px; 이미지 모서리를 둥글게 (선택 사항) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}