<!DOCTYPE HTML>

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>test</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <p>
            Contribution Graph
        </p>
        <div id="app">
        </div>
    </div>

    <script type="module">
        import drawContributionGraph from "https://cdn.jsdelivr.net/npm/github-contribution-graph-fix/dist/github-contribution-graph.es.js"
        // const data = {
        //     2023: [
        //         {
        //             done: 50,
        //             not_done: 10, // it's fine if you keep not_done as 0
        //             date: "2023-06-07",
        //         },
        //         {
        //             done: 22,
        //             not_done: 6,
        //             date: "2023-02-25",
        //         },
        //     ],
        //     2022: [
        //         {
        //             done: 7,
        //             not_done: 3,
        //             date: "2022-08-01",
        //         },
        //     ],
        // };

        // drawContributionGraph({
        //         data,
        //         ssr: false,
        //         config: {
        //             graphMountElement: "#app",
        //         },
        // });

        let year = 2024;
        let currentmonth;
        let currentday;

        const fetchSubmitTimeInfo = async () => {
            try {
                const response = await fetch('/getSubmitInfo');
                const jsondata = await response.json();

                // 데이터를 HTML에 넣기 (example 코드는 studentInfo.html 참고)
                // TODO for 시각화 맴버들
                const generateData = {
                    generator() {
                        const data = {};

                        for (let month = 1; month <= 12; month++) {
                            if (month <= 9) {                          // month string으로 변환
                                currentmonth = "0" + month;
                                //console.log(currentmonth);
                            }
                            else {
                                currentmonth = month.toString();
                                //console.log(currentmonth);
                            }

                            for (let day = 1; day <= this.getDaysInMonth(month, year); day++) {
                                if (day <= 9) {
                                    currentday = "0" + day;
                                }
                                else {
                                    currentday = day.toString();
                                }

                                const date = `${year}-${this.padZero(month)}-${this.padZero(day)}`;
                                let done = 0;

                                jsondata.forEach((item, idx) => {
                                    let curyear = item._time.substring(0, 4);
                                    let curmonth = item._time.substring(5, 7);
                                    let curday = item._time.substring(8, 10);
                                    if (curyear === year.toString() && curmonth === currentmonth && curday === currentday) {
                                        done++;
                                    }
                                });

                                const not_done = 0;

                                if (!data[year]) {
                                    data[year] = [];
                                }
                                data[year].push({ done, not_done, date });
                            }
                        }


                        return data;
                    },
                    getDaysInMonth(month, year) {
                        return new Date(year, month, 0).getDate();
                    },
                    padZero(number) {
                        return number.toString().padStart(2, '0');
                    }
                }

                const data = generateData.generator();

                drawContributionGraph({
                    data,
                    ssr: false,
                    config: {
                        graphMountElement: "#app",
                    },
                });

            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }
        fetchSubmitTimeInfo();
    </script>

</body>

</html>