<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- 문서의 문자 인코딩 설정 (UTF-8이 가장 일반적임) -->
    <meta charset="UTF-8">

    <!-- 반응형 웹을 위한 viewport 설정 (모바일 친화적) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 문서 제목 (탭이나 검색 결과에 표시됨) -->
    <title> oss_kwboj (가제) </title>

    <!-- 설명과 키워드 (SEO 최적화를 위해 사용) -->
    <meta name="description" content="광운대학교 백준 통계 사이트">
    <meta name="keywords" content="kwboj, boj, kw, 광운대, 광운대백준, 광운대학교">

    <!-- 작성자 정보 -->
    <meta name="author" content="junsangkim">

    <!-- 파비콘 (탭이나 북마크에 표시됨) -->
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->

    <!-- 외부 CSS 파일 로드 -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="pie_chart.css">

    <!-- 외부 JavaScript 파일 로드 (필요 시) -->
    <!-- <script src="script.js" defer></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/model/contributionGraph.js"></script>
    
</head>

<body>
    <div class="pie-chart3"></div>

</body>

</html>