.pie-chart {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.3s;
}

span.center {
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

.pie-chart3 {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 0.3s;
}

.pie-chart1 {
  animation: pie1 0.5s forwards;
}

@keyframes pie1 {
  0% {
    background: conic-gradient(#ccc 0% 0%, #ffffff 0% 100%);
  }

  6% {
    background: conic-gradient(#ccc 0% 6%, #ffffff 0% 100%);
  }

  12% {
    background: conic-gradient(#ccc 0% 12%, #ffffff 0% 100%);
  }

  18% {
    background: conic-gradient(#ccc 0% 18%, #ffffff 0% 100%);
  }

  25% {
    background: conic-gradient(#ccc 0% 25%, #ffffff 0% 100%);
  }

  33% {
    background: conic-gradient(#ccc 0% 33%, #ffffff 0% 100%);
  }

  38% {
    background: conic-gradient(#ccc 0% 38%, #ffffff 0% 100%);
  }

  44% {
    background: conic-gradient(#ccc 0% 44%, #ffffff 0% 100%);
  }

  50% {
    background: conic-gradient(#ccc 0% 50%, #ffffff 0% 100%);
  }

  56% {
    background: conic-gradient(#ccc 0% 56%, #ffffff 0% 100%);
  }

  62% {
    background: conic-gradient(#ccc 0% 62%, #ffffff 0% 100%);
  }

  68% {
    background: conic-gradient(#ccc 0% 68%, #ffffff 0% 100%);
  }

  75% {
    background: conic-gradient(#ccc 0% 75%, #ffffff 0% 100%);
  }

  82% {
    background: conic-gradient(#ccc 0% 82%, #ffffff 0% 100%);
  }

  88% {
    background: conic-gradient(#ccc 0% 88%, #ffffff 0% 100%);
  }

  94% {
    background: conic-gradient(#ccc 0% 94%, #ffffff 0% 100%);
  }

  100% {
    background: conic-gradient(#ccc 0% 100%, #ffffff 0% 100%);
  }
}




.pie-chart2 {
  animation: pie2 0.5s forwards;
}

@keyframes pie2 {
  0% {
    background: conic-gradient(#ccc 0% 0%, #ffffff 0% 100%)
  }

  50% {
    background: conic-gradient(#ccc 0% 50%, #ffffff 50% 100%)
  }

  100% {
    background: conic-gradient(#ccc 0% 80%, #ffffff 80% 100%)
  }
}

